[Desktop Entry]
Type=Application
Name=Classic Solitair
Comment=A faithful classic Klondike solitaire
Exec=classic-solitair
Icon=classic-solitair
Terminal=false
Categories=Game;CardGame;
